export PULPISSIMO="$PWD/pulp-platform/pulpissimo"
export PULP_SDK="$PWD/pulp-platform/pulp-sdk"

export VSIM_PATH="$PULPISSIMO/sim"
export PULP_SDK_HOME="$PULP_SDK/pkg/sdk/dev"
export PULP_SDK_INSTALL="$PULP_SDK_HOME/install"

source $PULP_SDK/configs/pulpissimo.sh
source $PULP_SDK/configs/platform-rtl.sh
